*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

#nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
}

#nav-2{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

#nav-3{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

img{
    height: 70px;
}

#nav h3{
    text-transform: uppercase;
}

#nav h4{
    text-transform: uppercase;
}

#nav button{
    background-color: white;
    color: black;
    padding: 12px 18px;
    border: none;
    font-weight: 700;
    font-size: 18px;
}

#main h1{
    font-size: 170px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

#main h1 span{
    background-color: chocolate;
    color: black;
    font-size: 70px;
    padding: 20px 40px;
    border-radius: 50px;
    margin: 0 30px;
}

#main h1:nth-child(2){
    margin-top: 60px;
}

#main #left-image{
    height: 200px;
    position: absolute;
    top: 14%;
    left: 10%;
}

#main #right-image{
    height: 160px;
    position: absolute;
    top: 25%;
    right: 8%;
}

#main #left-image-2{
    height: 160px;
    position: absolute;
    top: 50%;
    left: 12%;
}

#main #right-image-2{
    height: 160px;
    position: absolute;
    top: 57%;
    right: 20%;
}

h5{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 10px;
}